html, body {
	color: #111111;
	height: 100%;
}

header {
	background-color: #C3C3C3;
	margin-bottom: 30px;
}

body {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	background-color: #DDDDDD;
	background-image: url(../images/gaming-pattern-black.png);
	background-repeat: repeat;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

h1 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	background-color: #AA0000;
	padding: 20px;
	margin: 0px;
	border: 0px;
	display: inline-block;
	color: #C3C3C3;
}

h2 {
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #AA0000;
}

nav {
	float: right;
	margin: auto 0;
	padding: 13px 0px;
	position: relative;
	right: -15px;
}

a {
	text-decoration: none;
}
a:link {
	color: #AA0000;
}
a:visited {
	color: #660000;
}
a:hover {
	color: #000;
}

li {
	text-decoration: none;
	display: inline;
	padding: 15px;
}

hr {
	margin: 20px 0px;
}

.container {
	height: auto;
	width: 960px;
	margin: 0 auto;
	flex: 1 0 auto;
}

.main {
	border: 1px solid #ddd;
	width: 610px;
	padding: 10px 20px 20px 20px;
	background-color: #C3C3C3;
	float: left;
}

p {
	margin: 10px;
}

#bio-image {
	float: left;
	overflow: auto;
	margin: 0px 20px 0px 0px;
}

.image-div {
	position: relative;
	float: left;
}

.image {
	margin: 15px;
}

.label {
	color: #000;
	background-color: #AA0000;
	text-align: center;
	position: absolute;
	width: 274px;
	left: 15px;
	bottom: 35px;
	opacity: .75;
}

h4 {
}

.connect {
	border: 1px solid #ddd;
	width: 230px;	
	padding: 20px;
	float: right;
	background-color: #C3C3C3;
}

.connect img {
	display: inline;
	clear: both;
	width: 64px;
	height: 64px;
}

#linkedin {
	margin: 0px 14px;
}

.connect h3 {
	margin: 0 auto;
	font-family: 'Georgia', Times, Times New Roman, serif;
	color: #AA0000;
}

.showcase {
	width: 230px;	
	padding: 20px;
	position: relative;
	top: 10%;
	right: 0;
	float: right;
	color: #777777;
}

footer {
	clear: both;
}

#copyright {
	background-color: #666666;
	border-top: 10px solid;
	border-color: #AA0000;
	text-align: center;
	padding: 30px;
	margin: 0px;
	color: white;
}